h1 {
  font-family: Arial Black, Arial, serif;
}
h3 {
  font-family: Arial, serif;
}
p {
  color: blue;
}
.page-title {
  text-align: center;
  font-weight: 100;
}
.page-description {
  border:1px solid #000;
  margin: 2px;
  text-align: center;
  padding:10px;
}
.page-main {
  text-align: center;
  list-style: center;
}
